.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 0.2vw sans-serif;
    text-anchor: end;
}

text {
    font: .5vw sans-serif;
}

a {
  text-decoration: none;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size: 1em;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgb(0, 132, 161);
    font-size: 0.9em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size: 0.8em;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size: 0.7em;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size: 0.7em;
}

body {
    background-color: white;
}

.dead {
    stroke-dasharray: 2;
    stroke-width: 2;
    stroke:red;
}

/* Option 1A: Override a single element's box model via CSS 
.hack-bootstrap {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/
