.fa-facebook, .fa-facebook-square {
    color: #3b5998
}

.fa-twitter, .fa-twitter-square {
    color: #00aced
}

.fa-star, .fa-star-half{
    color: orangered;
}

.fa-google-plus, .fa-google-plus-square {
    color: #dd4b39
}

.fa-youtube, .fa-youtube-play, .fa-youtube-square {
    color: #bb0000
}

.fa-tumblr, .fa-tumblr-square {
    color: #32506d
}

.fa-vine {
    color: #00bf8f
}

.fa-flickr {
    color: #ff0084
}

.fa-vimeo-square {
    color: #aad450
}

.fa-pinterest, .fa-pinterest-square {
    color: #cb2027
}

.fa-linkedin, .fa-linkedin-square {
    color: #007bb6
}

.fa-instagram {
    color: #517fa4;
}

.fa-spotify {
    color: #1ED760;
}

.fa-reddit {
    color: #ff4500;
}

.fab.fa-github {
    color: #4078c0 !important;
}
.fab.fa-github-alt {
    color: #4078c0;
}
.fab.fa-github-square {
    color: #4078c0;
}

.fa-medium {
    color: #000;
}

.fa-slack {
    color: #0f7965;
}

.fa-telegram {
    color: #0088cc;
}

.social {
    padding: 5px;
}

.fa-globe {
    color: #3b5998
}

.fa-medium {
    color: #000;
}

.fa-comments {
    color: #FF6600;
}

.fa-search {
    color: #000 !important;
}

.fa-info-circle {
    color: #9fa8a3;
}

