.chart rect {
    fill: steelblue;
}


.logo-home {
    background: url( '../img/logo.png' ) no-repeat;
    float: left;
    width: 150px;
    height: 150px;
    padding: 0;
    display: block;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size: 1em;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgb(0, 132, 161);
    font-size: 0.9em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size: 1em;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size: 0.9em;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size: 1em;
    max-width: 200px;
}


