h1 {
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: black;
	font-size: 1.5vw;
padding-left: 10px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	padding-top: 10px;
	text-align: center;
	color: blue;
	font-size: 1.2em;
padding-left: 20px;
}

p {
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: black;
	font-size: 1em;
padding-left: 10px;
}

blockquote {
	margin: 0px 20px 0px 20px;
	padding: 10px 10px 10px 30px;
	color: #C7CACF;
	font: normal 1.105em Helvetica, verdana, serif, Georgia, “Times New Roman”;
}

