
/**
* http://www.color-hex.com/color-palette/7172
*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
}

h1 {
	text-align: center;
	color: #90877c;
	font-size: 24px;
}

h2 {
	text-align: center;
	color: #90877c;
	font-size: 18px;
}

h3 {
	text-align: center;
	color: #90877c;
	font-size: 18px;
}

body {
	background-color: #ecdcc7;
}