@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
	padding-top:90px;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	color: black;
	background-color:#ffffff;
}

h1 {
    margin:0;
    padding:15px 10px;
    color: #FFF;
    font-size:24px;
    padding-bottom: 0;
    margin-bottom: 20px;
    text-align: center;
}

img{
	max-width: 100%;
	width: 100%;
	height:auto;
}
.masonry{
	margin:auto;
	max-width: 100%;
}

/*@media(max-width:2220px){
	.masonry{
		width:1480px;
	}
}
@media(max-width:1480px){
	.masonry{
		width:740;
	}
}*/
.box{
	/*width:560px;*/
	max-width: 100%;
	float: left;
}
.category{
	background-color:#ffffff;
	margin:10px;
	padding:0px 10px 30px 10px;
	width: 100%;
	max-width: 100%;
}

.category .subcategory a{
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
}

.category h2{
	/*background-color:#a9e515;*/
	margin:0;
	padding:15px 10px;
	color:#a9e515;
	font-size:25px;
	padding-bottom: 0;
}


.category .subcategory h3{
	padding:10px 10px;
	font-style: 22px;
	color:#FFFFFF;
	font-size:18px;
}

.category .subcategory h4{
	display: none;
}

.category .subcategory h5{
	display: none;
}

.category .subcategory h6{
	display: none;
}
.category .subcategory h7{
	display: none;
}

.category .subcategory .elements{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction:row;
	padding:5px;
	flex-wrap: wrap;
}

@media(max-width: 576px){
	.category .subcategory .elements{
		flex-wrap: wrap;
	}
}

.category .subcategory .elements > div{
	max-width: 100%;
	margin-bottom:10px;
	float:left;
	overflow: hidden;
	background-color:#FFF;
	margin:5px;
	width:160px;
}


.category .subcategory .elements > div a{
	display: block;
}
.category .subcategory .elements > div > .image{
	margin:20px;
	width:120px;
	height:100px;
	display: block;
	background-size: contain;
	background-position: center;
}
.category .subcategory .elements > div a .image{
	/*display: block;*/
	margin:20px;
	width:120px;
	height:100px;
	display: block;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#searchBox{
	display: hidden;
}

.hidden {
    display: none;
}
