@import url("https://fonts.googleapis.com/css?family=Nunito:200,400,600,700");

.my {
    color: #5498a9;
    color: #645045;
    color: #665f62;
    color: #d9d8da;
    color: #f03829;
}

html {
    height: 100%;  
}

/*https://colorhunt.co/palette/177316*/
body {
    font-family: "Nunito",sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    position: relative;
    height: 100%;    
    background: #d9d8da;
}

.popover{
    width: 200px;
    height: 250px;
}

/* https://mdbootstrap.com/docs/jquery/css/colors/ */
.cName {
    background-color: #5498a9;
}
.cRating {
    background-color: #ffebee;
}
.cGeneral {
    background-color: #e1f5fe;
}
.cFeatures {
    background-color: #b3e5fc;
}
.cToken {
    background-color: #81d4fa;
}
.cLinks {
    background-color: #4fc3f7;
}
.cCode {
    background-color: #29b6f6;
}
.cGithub {
    background-color: #03a9f4;
}
.cMarket {
    background-color: #039be5;
}

.fixed-table-container {
    padding-bottom: 0px !important;
}

section {
    padding-top: 1rem;
    padding-bottom: 6rem;
}

section h2 {
    font-size: 2.25rem;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
}

section.hp {
    min-height: 100vh;
    display: flex;    
}

section.hp .hp-center {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 12rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ========= Icons responsive part ========= */

@media(max-width: 575px) {
    #contacts i {
        font-size: 4rem !important;
    }
}

@media(max-width: 575px) {
    /*section {*/
    /*    padding-top: 5rem !important;*/
    /*    padding-bottom: 0rem !important;*/
    /*    margin: 0 !important;*/
    /*}*/

    section h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    section.hp .hp-center {
        min-height: calc(100vh - 7.5rem);
    }
}
.navbar {
    background: #fff;
    box-shadow: 0 0 15px rgba(36,36,36,.2);
    transition: all .5s ease-in-out;
    padding: 0.25rem 1rem;
}

.navbar .navbar-brand {
    color: #5498a9 !important;
    padding-top: 0;
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.navbar .navbar-brand div {
    display: inline-block;
    width: 49px;
    height: 64px;
    /*background-image: url(../img/bake4me-logo-only.png);*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.navbar .nav-link {
    color: #6c757d !important;
    transition: all .25s;
    padding: .875rem 1.5rem !important;
}

.navbar .nav-link.active,.navbar .nav-link:hover {
    color: #f03829 !important;
}

.navbar .dropdown-menu {
    margin-bottom: .875rem;
}

.navbar .dropdown-menu .dropdown-item {
    color: #6c757d;
    font-size: 1rem;
}

.navbar .dropdown-menu .dropdown-item:last-child {
    font-size: 15.4px;
}

.navbar #navbardrop {
    outline: none;
    text-transform: capitalize;
}

.navbar.navbar-dark {
    background: transparent !important;
    box-shadow: none;    
}

.navbar.navbar-dark .navbar-brand {
    color: #645045 !important;
}

.navbar.navbar-dark .navbar-brand div {
    /*background-image: url(../img/bake4me-logo-only.png);*/
}

.navbar.navbar-dark .nav-link {
    color: #000 !important;
}

.navbar.navbar-dark .nav-link.active,.navbar.navbar-dark .nav-link:hover {
    color: #645045 !important;
}

/* ========= Navbar responsive part ========= */

@media(max-width: 991px) {
    .navbar .nav-link {
        padding:.8rem !important;
    }
}

@media(max-width: 767px) {
    .navbar .navbar-brand {
        padding-top:5px;
    }

    .navbar .navbar-brand div {
        width: 29px;
        height: 37px;
    }

    .navbar .nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .navbar .btn {
        margin-bottom: .75rem;
    }
}

.btn {
    color: #fff;
    background: #645045;
    border: 1px solid #645045;
    text-transform: capitalize;
    letter-spacing: .75px;
    font-weight: 700;
    transition: all .25s;
    padding: 1rem 2rem;
    width: 35%;
    border-radius: .3rem;
}

.btn:hover {
    color: #d9d9d9;
    background-color: #63A5C4;
    border-color: #63A5C4;
}

.imgResponsive {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 1rem !important;
}
