* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- button ---- */

h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size: 1em;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #28F;
    font-size: 0.9em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size: 0.8em;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size: 0.7em;
}

.number {
  display: none;
visibility:hidden;
}

.blocktime {
  display: none;
visibility:hidden;
}

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.ui-group {

}

.filters {
padding-bottom: 10px;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */


.grid  {
  position: relative;
width:100%;
height:100%;
}
.grid:hover img {
  opacity: 0.28;
}
.grid div {
  width: 33.3%;
  /* min-height: 200px; */
  overflow: hidden;
  cursor: pointer;
  opacity: 0.7;
}
.grid div h1 {
  position: absolute;
  top: 46%;
  left: 0;
  width: 100%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: all 1.2s;
  z-index: 1;
}
.grid div img {
  display: block;
  width: 30%;
  transition: all .8s;
}
.grid div:hover h1 {
  transform: translate3d(0, 18px, 0) scale(1.2, 0.4);
  opacity: 0;
}
.grid div:hover img {
  opacity: 1;
  transform: scale(1.04);
}

#loading_msg {
  position: fixed;
  top: 48%;
  width: 100%;
  z-index: -1;
}

@media (max-width: 860px) {
  .grid div {
    width: 50%;
    min-height: 150px;
  }

}

@media (max-width: 667px) {
  .grid div {
    width: 100%;
    min-height: 220px;
  }
}










