h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size: 1em;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #28F;
    font-size: 0.9em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size: 0.8em;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    font-size: 0.7em;
}

table {
    border: 1px solid #ccc;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
  }

  table tr {
    border: 1px solid #ddd;
    padding: 5px;
		background: #fff;

  }

  table th, table td {
    padding: 10px;
    text-align: center;

  }

  table th {

    letter-spacing: 1px;
    background: #ccc;
  }

table tr:nth-child(even) {
    background-color: lightgray;
}
  
table td:first-child {
      background: #ddd;
}

@media only screen and (max-width: 800px) {
	
	#flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	#flip-scroll * html .cf { zoom: 1; }
	#flip-scroll *:first-child+html .cf { zoom: 1; }
	
	#flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; }
 
	#flip-scroll th,
	#flip-scroll td { margin: 0; vertical-align: top; }
	#flip-scroll th { text-align: left; }
	
	#flip-scroll table { display: block; position: relative; width: 100%; }
	#flip-scroll thead { display: block; float: left;}
	#flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	#flip-scroll thead tr { display: block; }
	#flip-scroll th { display: block; text-align: right; }
	#flip-scroll tbody tr { display: inline-block; vertical-align: top; }
	#flip-scroll td { display: block;  text-align: left; }
 
}
 
